.app{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    flex-direction: column;
    height: 250px;
}
.btn{
    padding: 15px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: darkblue;
    color: #FFF;
}